.list {
    width: 300px;
    display: inline-block;
    margin: 10px;
    background-color: #ebecf0;
    border-radius: 3px;
    height: 100%;
}

.list .card_container {
    margin: 0px 10px;
}

.header {
    padding: 10px 20px;
		color: #172b4d;
}
