<div class="sub-heading">
	<div class="d-flex align-center">
		<div class="font-bold font-md board-name">Kanban Board
		</div>
		<div class="d-flex justify-space-between w-100 board-action-menu">
			<div class="d-flex">
				<button mat-raised-button
								class="board-item">
					<mat-icon inline>public</mat-icon>
					Public
				</button>
				<button mat-button>
					<img class="member-avatar"
							 height="30"
							 width="30"
							 src="https://trello-members.s3.amazonaws.com/58b45e07a465b40ffcc8bbb9/08f267e86ed6d072678cfc98bacbb596/30.png">
				</button>
				<button mat-raised-button
								class="board-item"
								(click)="onAddList()">
					<mat-icon inline>add</mat-icon>
					Add List
				</button>
			</div>
			<div class="d-flex">
				<div class="search-field d-inline-flex align-center"
						 [ngClass]="{'ng-dirty': searchText?.length}">
					<mat-icon>search</mat-icon>
					<input matInput
								 type="text"
								 placeholder="Search"
								 [(ngModel)]="searchText"
								 (keyup)="searchChange()"
								 class="font-md">
					<mat-icon *ngIf="searchText"
										(click)="clearSearch()"> clear </mat-icon>
				</div>
				<button mat-raised-button
								class="board-item show-menu-button">
					<span class="show-menu-icon">...</span>
					Show menu
				</button>
			</div>
		</div>
	</div>

	<div class="stage_container"
			 cdkDropListGroup>
		<div *ngFor="let listElement of lists">
			<div class="list"
					 cdkDropList
					 [cdkDropListData]="listElement.cards"
					 (cdkDropListDropped)="drop($event)">
				<div class="header font-md font-bold d-flex align-center justify-space-between">
					<span>{{ listElement.name }}</span>
					<button mat-icon-button
									title="Add New Card"
									(click)="onAddCard(listElement)"
									color="primary"
									class="add-action">
						<mat-icon>add</mat-icon>
					</button>
				</div>
				<div class="card_container">
					<app-card *ngFor="let card of listElement.filteredCards"
										[card]="card"
										cdkDrag>
					</app-card>
				</div>
			</div>
		</div>
	</div>
