.w-100{
	width: 100%;
}

.h-100{
	height: 100%;
}

.tc {
	text-align: center;
}
.d-block{
	display: block;
}
.d-flex {
	display: flex;
}
.d-inline-flex{
	display: inline-flex;
}

.justify-center{
	justify-content: center;
}
.justify-end{
	justify-content: end;
}

.justify-space-between{
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.font-bold {
	font-weight: 600;
}

.font-sm {
	font-size: 12px;
}

.font-base {
	font-size: 14px;
}

.font-md {
	font-size: 16px;
}

.font-lg {
	font-size: 20px;
}

.font-xl {
	font-size: 24px;
}

.border-1 {
	border: 1px solid grey;
}
.bg-white {
	background-color: white;
}

.z-10 {
	z-index: 10;
}

.cursor-pointer {
	cursor: pointer;
}
